.note
{
   background : url("../images/note.png");
   background-repeat: no-repeat;
   width : 240px;
   height : 250px;
   text-align : center;
   padding-top : 50px;
   padding-left : 30px;
   padding-right : 30px;

   position : absolute;

}

textarea {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'The Girl Next Door';
    font-size: 20px;
    color: black;
    resize: none;
    overflow : hidden;
 
}