.note {
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    position: absolute;
}

    .note:hover {
        cursor: move;
    }

textarea {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'The Girl Next Door';
    font-size: 20px;
    color: black;
    resize: none;
    overflow: hidden;
}

.closeButton {
    width: 100%;
    background-color: transparent;
}

    .closeButton img {
        cursor: pointer;
    }

#notePrototype {
    display: none;
}
